<div ng-controller="GiftController" class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div >
            <h1 class="page-header">Regalos</h1>
            <ol class="breadcrumb">
                <li><a ng-click="goHome()">Inicio</a>
                </li>
                <li class="active">Gestionar Regalo</li>
            </ol>

        </div>
         <!-- Service Tabs -->
        <div class="row">
            <div class="col-lg-12">

                <ul id="myTab" class="nav nav-tabs nav-justified">
                    <li class="active"><a data-target="#agregarProduct" data-toggle="tab">Agregar Regalos</a>
                    </li>
                    <li class=""><a class="btn" data-target="#modificarProduct" ng-click="getGift()" data-toggle="tab">Modificar Regalos</a>
                    </li>
                </ul>

                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in">
                        <div class="row">
					        <!-- Projects Row -->
					        <div class="row">
					            <label class="col-md-3 col-sm-3 col-xs-3 Centrado">Nombre</label>
					            <input ng-model="gift.name" type="text" class="col-md-3 col-sm-3 col-xs-3"></input>
					        </div>
					        <div class="row">
					            <label class="col-md-3 col-sm-3 col-xs-3 Centrado">Descripcion</label>
					            <input ng-model="gift.descripcion" type="text" class="col-md-3 col-sm-3 col-xs-3"></input>
					        </div>
					        <div class="row">
					            <label class="col-md-3 col-sm-3 col-xs-3 Centrado">Peso</label>
					            <input ng-model="gift.peso" type="text" class="col-md-3 col-sm-3 col-xs-3"></input>
					        </div>
					        <div class="row">
					            <label class="col-md-3 col-sm-3 col-xs-3 Centrado">Destinatario</label>
					            <input ng-model="gift.destinario" type="text" class="col-md-3 col-sm-3 col-xs-3"></input>
					        </div>
					        <div class="row">
					            <label class="col-md-3 col-sm-3 col-xs-3 Centrado">Status</label>
					            <input ng-model="gift.status" type="text" class="col-md-3 col-sm-3 col-xs-3"></input>
					        </div>
					        <div class="row">
					            <label class="col-md-3 col-sm-3 col-xs-3 Centrado">Estado</label>
					            <input ng-model="gift.estado" type="text" class="col-md-3 col-sm-3 col-xs-3"></input>
					        </div>
				        	<div class="row">
				        		<button ng-click="postGift()" class="btn btn-danger">Agregar</button>
					        </div>
					    </div >
                    </div>
                    <div class="tab-pane fade" id="modificarProduct">
                    	<div class = "container">
							<table id="TableGestion" class="table table-striped">
						      <tr>
						        <th>
						          Nombre
						        </th>
						        <th>
						          Descripcion
						        </th>
						        <th>
						          Peso
						        </th>
						        <th>
						          Destinatario
						        </th>
						        <th>
						          Status
						        </th>
						        <th>
						          Estado
						        </th>
						        <th>
						        </th>
						      </tr>
						      <tr>
						      	<td>
						      		<input ng-model="giftModif.nombre" type = "text"> </input>
						      	</td>
						      	<td>
						      		<input ng-model="giftModif.descripcion"  type = "text"> </input>
						      	</td>
						      	<td>
						      		<input ng-model="giftModif.peso" type = "text"> </input>
						      	</td>
						      	<td>
						      		<input ng-model="giftModif.destinario" type = "text"> </input>
						      	</td>
						      	<td>
						      		<input ng-model="giftModif.status" class="input_gestion_productos" type = "text"> </input>
						      	</td>
						      	<td>
						      		<input ng-model="giftModif.estado" class="input_gestion_productos" type = "text"> </input>
						      	</td>
						      	<td>
						      		<input type = "submit" ng-click="saveGiftChanges()" class="btn btn-primary" value="Guardar"></input>
						      	</td>
						      </tr>
						      <tr ng-repeat="gift in gifts">
						      	<td ng-if ="false">
						      		{{gift._id}}/
						      	</td>
						        <td>
						          {{gift.name}}
						        </td>
						        <td>
						          {{gift.giftname}}
						        </td>
						        <td>
						          {{gift.password}}
						        </td>
						        <td>
						          {{gift.email}}
						        </td>
						        <td>
						          {{gift.type}}
						        </td>
						        <td>
						          {{gift.state}}
						        </td>
						        <td>
						          <button ng-click="show_modificar_gift(gift)" class="btn btn-danger">Modificar</button>

						        </td>
						      </tr>
						    </table>
						</div>
                    </div>

                </div>

            </div>
        </div>

</div>
