<div ng-controller="UsersController" class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div >
            <h1 class="page-header">Usuarios</h1>
            <ol class="breadcrumb">
                <li><a ng-click="goHome()">Inicio</a>
                </li>
                <li class="active">Gestionar Usuarios</li>
            </ol>

        </div>
         <!-- Service Tabs -->
        <div class="row">
            <div class="col-lg-12">

                <ul id="myTab" class="nav nav-tabs nav-justified">
                    <li class="active"><a data-target="#agregarProduct" data-toggle="tab">Agregar Usuarios</a>
                    </li>
                    <li class=""><a class="btn" data-target="#modificarProduct" ng-click="getUsers()" data-toggle="tab">Modificar Usuarios</a>
                    </li>
                </ul>

                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="agregarProduct">
                        <div class="row">

					        <div class="row">
					            <label class="col-md-3 col-sm-3 col-xs-3 Centrado">Usuario</label>
					            <input ng-model="user.username" type="text" class="col-md-3 col-sm-3 col-xs-3"></input>
					        </div>
					        <div class="row">
					            <label class="col-md-3 col-sm-3 col-xs-3 Centrado">Contraseña</label>
					            <input ng-model="user.password" type="text" class="col-md-3 col-sm-3 col-xs-3"></input>
					        </div>

				        	<div class="row">
				        		<button id="BtnAdd" ng-click="postUsers()" class="col-md-1 col-sm-1 col-xs-1 btn btn-danger ">Agregar</button>
					        </div>
					    </div >
                    </div>
                    <div class="tab-pane fade" id="modificarProduct">
                    	<div class = "container">
							<table id="TableGestion" class="table table-striped">
						      <tr>
						        <th>
						          Usuario
						        </th>
						        <th>
						        	Estado
						        </th>
						        <th>
						        </th>
						      </tr>
						      <tr>
						      	<td>
						      		
						      	</td>
						      	<td>
						      		<input ng-model="userModif.state" class="input_gestion_productos" type = "text"> </input>
						      	</td>
						      	<td>
						      		<input type = "submit" ng-click="saveUserChanges()" class="btn btn-primary" value="Guardar"></input>
						      	</td>
						      </tr>
						      <tr ng-repeat="user in users">
						        <td>
						          {{user.username}}
						        </td>
						        <td>
						          {{user.state}}
						        </td>
						        <td>
						          <button ng-click="show_modificar_user(user)" class="btn btn-danger">Modificar</button>

						        </td>
						      </tr>
						    </table>
						</div>
                    </div>

                </div>

            </div>
        </div>

</div>
